@model BlowOut.Models.Instrument
@{
    ViewBag.Title = "Thank you!";
}

<h2>Thank you, @ViewBag.Client.Client_FirstName @ViewBag.Client.Client_LastName, for placing your order with us here at BlowOut!</h2>
<br />
<h4>You can see your details below.</h4>
<br />
<div>
    <h4>Order Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Order Number:
        </dt>

        <dd>
            @ViewBag.Client.ClientID
        </dd>

        <dt>
            Instrument:
        </dt>

        <dd>
            @ViewBag.Instrument.InstrumentDesc
        </dd>

        <dt>
            Condition:
        </dt>

        <dd>
            @ViewBag.Instrument.Type
        </dd>

        <dt>
            Monthly Price:
        </dt>

        <dd>
            $@ViewBag.MonthlyPrice
        </dd>

        <dt>
            18-Month Price:
        </dt>

        <dd>
            $@ViewBag.TotalPrice
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
